{% extends 'shared/layout.html' %}

{% block maincontent %}

<main class="great-one">
    <p class="poem">Behold piano great and old,<br>it's master slumbers in far off cold,<br>If you wish to see anew,<br>call out to it - we see you.</p>
    <img class="great-one-img" src="../static/main/images/texture.jpeg" alt="Great Old One" loading="lazy">
    <div class="piano">
        <h2>The Great Old One</h2>
        <div class="piano-keys">
            <div class="piano-key white-key" id="a" data-key="65">
                <p class="key-text">A</p>
            </div>
            <div class="piano-key black-key" id="w" data-key="87">
                <p class="key-text">W</p>
            </div>
            <div class="piano-key white-key w2" id="s" data-key="83">
                <p class="key-text">S</p>
            </div>
            <div class="piano-key black-key" id="e" data-key="69">
                <p class="key-text">E</p>
            </div>
            <div class="piano-key white-key w2" id="d" data-key="68">
                <p class="key-text">D</p>
            </div>
            <div class="piano-key white-key w2" id="f" data-key="70">
                <p class="key-text">F</p>
            </div>
            <div class="piano-key black-key" id="t" data-key="84">
                <p class="key-text">T</p>
            </div>
            <div class="piano-key white-key w2" id="g" data-key="71">
                <p class="key-text">G</p>
            </div>
            <div class="piano-key black-key" id="y" data-key="89">
                <p class="key-text">Y</p>
            </div>
            <div class="piano-key white-key w2" id="h" data-key="72">
                <p class="key-text">H</p>
            </div>
            <div class="piano-key black-key" id="u" data-key="85">
                <p class="key-text">U</p>
            </div>
            <div class="piano-key white-key w2" id="j" data-key="74">
                <p class="key-text">J</p>
            </div>
            <div class="piano-key white-key w2" id="k" data-key="75">
                <p class="key-text">K</p>
            </div>
            <div class="piano-key black-key" id="o" data-key="79">
                <p class="key-text">O</p>
            </div>
            <div class="piano-key white-key w2" id="l" data-key="76">
                <p class="key-text">L</p>
            </div> 
            <div class="piano-key black-key" id="p" data-key="80">
                <p class="key-text">P</p>
            </div>
            <div class="piano-key white-key w2" id=";" data-key="186">
                <p class="key-text">;</p>
            </div> 
        </div>
    </div>

</main>


{% endblock %}