.foot {
    flex-shrink: 0;
    background-color: #222;
    color: #f3f3f3;
    text-align: center;
    padding: 1.25rem 0;
    width: 100%;
    height: 80%;
    font-weight: 300;
    line-height: .5;
}

@media (max-width: 768px) {
   .foot {
    width: 100%;
    text-wrap: wrap;
    padding: 1rem;
   }
}