.foot {
    flex-shrink: 0;
    background-color: #222;
    color: #f3f3f3;
    text-align: center;
    padding: 1.25rem 1rem; 
    box-sizing: border-box; 
    font-weight: 300;
    line-height: .5;
}

.ds {
    margin-top: 1rem;
}

@media (max-width: 768px) {
   .foot {
    padding: 1rem;
    text-wrap: wrap;
    line-height: 1.5;
   }
}