.il-page {
    max-width: 170vh;
    margin: auto 7rem 5rem 5rem;
    justify-content: center;
}

.il-page p {
    margin: 0.5rem auto 1.5rem auto;
    font-size: 1rem;
    line-height: 1.5;
    color: #1a1a1a;
    font-style: italic;
}

.page-br {
    height: .25rem;
    background-color: #173d55;
}

.il-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin: .25rem auto 2rem auto;
    padding: .5rem;
    max-width: 170vh;
}

.il-card {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: auto;
    border: 1px solid #ddd;
    border-radius: .5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

@media screen and (max-width: 40.625rem) {
    .il-card {
        width: 100%;
        height: auto;
    }
}