body {
    margin: 0;
    padding: 0;
    text-align: left;
}

h2 {
    color: #151515;
    margin-bottom: .25rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 5rem;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 75vh;
    max-width: 90vw;
    overflow: hidden; 
    margin: 1.25rem;
}

.scroll {
    overflow-y: auto;
    padding: 0.65rem;
}

.col-1 {
    width: 30%; 
    display: flex;
    justify-content: center; 
    margin: 1.25rem;
    overflow: hidden;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:  1rem 1rem;
    width: 80%; 
    margin: 1.25rem;
}

.hcol {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 0.9375rem;
    align-items: center;
    padding:  1.25rem 1.875rem;
    border-radius: 0.9375rem;
    width: 80%; 
    margin: 1.25rem;
}

.home-name {
    margin-bottom: 0;
    font-size: xx-large;
}

.col-1 img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 3em;
    object-fit: cover; 
}

#pd {
    margin-bottom: 0;
}

:root {
    --bg-color: #f3f3f3;
    --hover-color: #e0e0e0;
    --border-radius: 0.9375rem;
}

ul {
    margin-top: 0.3125rem;
}



/* Transition to single column layout for smaller screens */
@media screen and (max-width: 40.625rem) {
    .info {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        max-height: none;
    }

    .col-1 {
        width: auto;
    }

    .col-2 {
        width: auto;
        padding: 0;
    }

}

